<mat-table [dataSource]="agendas">
  <!-- Position Column -->
  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef>Titulo</mat-header-cell>
    <mat-cell *matCellDef="let agenda">{{ agenda.titulo }}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef>Data</mat-header-cell>
    <mat-cell *matCellDef="let agenda">{{ agenda.data | date: 'dd/MM/yyyy'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="primary" aria-label="botão de adicionar" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let agenda" class="action-column">
      <button mat-icon-button aria-label="Botão de adicionar atividade" color="primary">
        <mat-icon>task</mat-icon>
      </button>
      <button mat-icon-button aria-label="Botão de editar agenda" (click)="onEdit(agenda)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Botão de excluir agenda" color="warn" (click)="onDelete(agenda)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
